@font-face {
    font-family: Roboto-Condensed;
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}
body {
    font-family: Roboto-Condensed;
    background-color: rgb(255, 255, 255);
}

main{

}
.custom-card{
    width: 18rem;

}

.navbar-grey{
    background-color: #2b3035;
}
#ph-brand{
    width: 2.7rem;
}
